<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstoragevk;AccountKey=scCl3nDNLbWHm1FO47q44HchiW3xVwnTBMpp1jzPGZNEwLdxCn46fUnt/pB+8E/jUK6fnlKPEXCMLIwzeau85Q==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>